body {
  background-color: rgb(255,150,100,0.2);
}
.Centered {
  margin: 0 auto;
  text-align: center;
  width: 60%;
}
.Title {
  width: 45vw;
  margin: auto;
}
.Title h1 {
  padding: 3vw;
  background-color: rgb(255,150,100,0.43);
  border-radius: 18px;
}

#NewTask {
  position: sticky;
  top: 50px;
  z-index: 999;
}
.Buttons {
  height: 250px;
}

.TaskSet img {
  width: 110px;
  position: relative;
  bottom: -35px;
  right: -13vw;
  visibility: hidden;
  animation-name: Disappear;
  animation-duration: 5s;
}
@keyframes Disappear {
  0% {visibility: visible; opacity: 1;}
  80% {opacity: 0.8}
  100% {visibility: hidden; opacity: 0}
}

.TaskReset img {
  width: 150px;
  position: relative;
  bottom: 105px;
  right: 6vw;
  visibility: visible;
  animation-name: Appear;
  animation-duration: 6s;
}
@keyframes Appear {
  0% {visibility: hidden; opacity: 0;}
  80% {visibility: hidden; opacity: 0;}
  100% {visibility: visible; opacity: 1;}
}



#list_tasks {
  width: 40%;
  text-align: left;
  float: left;
  padding: 3%;
}
#list_tomorrow_tasks {
  width: 40%;
  float: right;
  text-align: left;
  padding: 3%;
}
#list_tasks input {
  transform: scale(1.45);
}
#list_tomorrow_tasks input {
  transform: scale(1.45);
}
.active {
  background-color: rgb(255,150,100,0.2);
  box-shadow: -3px -3px 4px 7px rgb(255, 173, 200, 0.43), 3px 3px 4px 5px rgb(109, 116, 140, 0.43);
  border-radius: 15px;
}
.passive {}

.ToggleActiveState {
  text-align: center;
}
.ToggleActiveState input {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(255,160,110,0.7);
  box-sizing: inherit;
}
