body {
  background-color: rgb(255,150,100,0.2);
}

.title {
  width: 45vw;
  margin: auto;
}
.title h1 {
  text-align: center;
  padding: 3vw;
  background-color: rgb(255,150,100,0.43);
  border-radius: 18px;
}
