body {
  background-color: rgb(255,150,100,0.2);
  font-size: 17px;
}
.Centered {
  margin: 0 auto;
  text-align: center;
  width: 60%;
}
.CenteredLists {
  margin: 0 auto;
  text-align: center;
  width: 60%;
}
.Title {
  width: 40vw;
  margin: auto;
}
.Title h1 {
  padding: 3vw 6vw;
  background-image: repeating-linear-gradient(30deg, rgb(255,150,100,0.6), rgb(255,150,100,0.6) 30px, transparent 0, transparent 45px);
  border-radius: 1em;
}

#NewTask {
  position: sticky;
  top: 3em;
  z-index: 999;
  padding: 1.2em 1em;
  width: 60%;
  font-size: 18px;
}
.Buttons {
  height: 16em;
}

.TaskSet img {
  width: 10em;
  position: relative;
  bottom: -2.6em;
  right: -13vw;
  visibility: hidden;
  animation-name: Disappear;
  animation-duration: 5s;
}
@keyframes Disappear {
  0% {visibility: visible; opacity: 1;}
  80% {opacity: 0.8}
  100% {visibility: hidden; opacity: 0}
}

.TaskReset img {
  width: 13em;
  position: relative;
  bottom: 11em;
  right: 6vw;
  visibility: visible;
  animation-name: Appear;
  animation-duration: 6s;
}
@keyframes Appear {
  0% {visibility: hidden; opacity: 0;}
  80% {visibility: hidden; opacity: 0;}
  100% {visibility: visible; opacity: 1;}
}



#list_tasks {
  width: 40%;
  text-align: left;
  float: left;
  padding: 1em 2em;
}
#list_tomorrow_tasks {
  width: 40%;
  float: right;
  text-align: left;
  padding: 1em 2em;
}
@media screen and (max-width: 1000px) {
  #list_tasks {
    width: 45%;
    text-align: left;
    float: left;
    padding: 2%;
  }
  #list_tomorrow_tasks {
    width: 45%;
    float: right;
    text-align: left;
    padding: 2%;
  }
  .Centered {
    margin: 0 auto;
    text-align: center;
    width: 60%;
  }
  .CenteredLists {
    margin: 0 auto;
    text-align: center;
    width: 90%;
  }
}





#list_tasks input {
  transform: scale(1.45);
}
#list_tomorrow_tasks input {
  transform: scale(1.45);
}
.active {
  background-color: rgb(255,150,100,0.2);
  box-shadow: -3px -3px 4px 7px rgb(255, 173, 200, 0.43), 3px 3px 4px 5px rgb(109, 116, 140, 0.43);
  border-radius: 15px;
}
.passive {}

.ToggleActiveState {
  text-align: center;
}
.ToggleActiveState input {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(255,160,110,0.7);
  box-sizing: inherit;
}
